/* GLOBAL */

html {
  scroll-behavior: smooth;
  position: relative;
  min-height: 100%;
}

body {
  color: black;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

header {
  width: 85%;
  margin: 0 auto;
}

.logo-container a {
  text-decoration: none;
  color: black;
  display: inline-block;
}

.logo {
  max-width: 230px;
  margin: 20px 28px 15px -15px;
}

.divider-line {
  border: solid 1px #da2f32;
  margin: 0 auto;
}

.icons i {
  color: #da2f32;
  font-size: 2em;
  position: absolute;
  top: 32px;
}

.fa-bars {
  right: 28px;
  cursor: pointer;
}

.fa-heart {
  right: 70px;
}

nav {
  display: none;
  position: absolute;
  right: 0px;
  font-size: 1.4em;
  background-color: white;
  font-family: "Roboto", sans-serif;
  z-index: 1;
}

ul {
  border: solid 1px #da2f32;
  border-top-width: 2px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li {
  padding: 5px;
}

li:hover {
  text-decoration: underline #da2f32;
}

nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.visible {
  display: block;
}

.active {
  color: #da2f32;
}

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: #da2f32;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin: 0 auto;
}

.footer-content img {
  max-width: 100px;
  margin-left: -45px;
}

.footer-links {
  display: block;
  margin: 10px 0 10px 0;
}

.footer-links h4 {
  margin: 5px;
}

.footer-links ul {
  border: none;
}

.footer-links li {
  padding: 0;
  margin: 5px;
  font-size: 0.8em;
}

footer a {
  text-decoration: none;
  color: white;
}

.footer-copyright {
  font-size: 0.9em;
  color: white;
  max-width: 100px;
  margin-top: 20px;
}

footer p {
  margin: 0;
}

.headings {
  color: black;
  width: 85%;
  margin: 0 auto;
  font-family: "Vidaloka";
}

.headings h1 {
  font-size: 1.65em;
  font-weight: 100;
  margin-bottom: 0;
}

.headings h2 {
  font-size: 1.3em;
  font-weight: 100;
  margin-top: 0;
}

.headings h3 {
  font-size: 1.1em;
}

.headings a {
  color: #da2f32;
}

.button {
  padding: 4px 25px;
  border-radius: 5px;
  border: none;
  font-family: "Roboto", sans-serif;
  background-color: #da2f32;
  color: white;
  text-decoration: none;
  font-size: 0.8em;
}

.page {
  max-width: 300px;
  margin: 10px auto 120px auto;
  color: black;
}

.page p {
  font-weight: 300;
}

.page img {
  max-width: 100%;
  margin-top: 20px;
}

form div {
  width: 100%;
}

form {
  display: flex;
  flex-wrap: wrap;
}

form div label p {
  font-size: 0.8em;
}

form div input {
  width: 98%;
  border: solid 1px #da2f32;
  margin: 5px 0;
}

form div textarea {
  width: 98%;
  border: solid 1px #da2f32;
}

/* HOME PAGE */

.slider-heading {
  color: black;
  margin: 0 auto;
  max-width: 300px;
  font-size: 1.3em;
}

.slider-heading h3 {
  font-family: "Vidaloka";
  font-weight: 100;
  margin-bottom: 0;
  font-size: 1.05em;
}

.slides-container {
  margin: 0 auto;
  position: relative;
  max-width: 300px;
  height: 250px;
  overflow: hidden;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;
  margin-top: 5px;
}

.slide img {
  max-width: 98%;
}

.slide h4 {
  margin: 0 auto;
  color: black;
  font-family: "Vidaloka";
  font-weight: 100;
  font-size: 1.2em;
}

.slide-post {
  max-width: 100%;
  text-align: center;
}

.button-effect:before {
  content: "";
  padding: 5px;
  background: white;
  transform: rotate(45deg);
  position: absolute;
  height: 35px;
  top: 195px;
  left: -45px;
  transition: left ease-in-out 1.5s;
  opacity: 0.3;
}

.button-effect:hover::before {
  left: 270px;
}

.button-container {
  color: #da2f32;
  display: flex;
  justify-content: center;
  gap: 5px;
  font-size: 1.5em;
}

.slider-button {
  padding: 5px;
  cursor: pointer;
  font-size: 1.3em;
}

.slider-dots {
  font-size: 0.5em;
  padding-top: 16px;
  display: none;
}

.circle {
  border: solid 2px #da2f32;
  padding: 4px;
  height: 4px;
  width: 4px;
  border-radius: 50px;
  display: inline-block;
}

.first-dot {
  background-color: #da2f32;
}

.slide-post a {
  font-size: 0.8em;
}

.appear {
  animation: show-slider 3s forwards;
}

@keyframes show-slider {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.card {
  filter: brightness(55%);
}

.featured-text__home {
  display: flex;
  justify-content: center;
  position: relative;
  top: 120px;
}

.div-container {
  max-width: 300px;
  margin: -40px auto 120px auto;
}

.featured {
  margin-bottom: 20px;
}

.featured img {
  max-width: 100%;
}

.featured-text {
  display: flex;
  justify-content: space-between;
}

.featured h3 {
  color: black;
  font-family: "Vidaloka";
  margin: 0 0 10px 0;
  font-weight: 100;
  font-size: 1.3em;
}

.featured-text__home h3 {
  color: white;
  z-index: 1000;
  font-size: 2em;
}

.featured a {
  text-decoration: none;
}

/* POSTS PAGE */

.search {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 10px 0 60px 0;
}

.loading {
  border: 7px solid #f3f3f3;
  border-top: 7px solid #da2f32;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  animation: spin 2s linear infinite;
  margin-top: 10px;
}

.featured-icon {
  color: #da2f32;
  font-size: 1.7em;
  margin: 5px;
  z-index: 1000;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*Post page*/

.comment-form {
  margin: 10px 28px;
  display: none;
}
.comment-section {
  margin: 10px 28px 100px 28px;
}

.comments-divider {
  max-width: 85%;
  margin: 0 auto;
}

.input p {
  font-size: 0.8em;
}

form p {
  margin: 2px 0;
  font-size: 0.8em;
}

form textarea {
  resize: none;
}

.comment-form__button {
  font-size: 1em;
  margin: 10px auto;
}

.comment {
  margin: 5px 0;
  border: solid 1px #da2f32;
}

.comment h4 {
  margin: auto 5px;
  font-size: 1em;
}

.comment p {
  margin: 5px;
  font-size: 0.8em;
}

.comment-date h5 {
  margin: 5px 2px;
  font-size: 0.6em;
  max-width: 90px;
  opacity: 0.7;
}

.comment-author {
  background-color: #da2f3275;
  display: flex;
  justify-content: space-between;
}

.more-button-container {
  display: none;
  justify-content: center;
}

.more-button {
  font-size: 1em;
  margin: -80px auto 110px auto;
  cursor: pointer;
}

.posts-container {
  margin-bottom: 100px;
}

.modal {
  position: fixed;
  overflow: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  display: none;
}

.modal-image {
  width: 100%;
  margin: 0 auto;
}

.modal-image img {
  width: 100%;
  border: solid 1px #da2f32;
}

.close-button {
  display: flex;
  justify-content: flex-end;
  color: #da2f32;
  margin: 10px 0;
  font-size: 2em;
  cursor: pointer;
}

.modal-title {
  font-family: "Vidaloka";
  text-align: center;
}

.modal-content {
  max-width: 350px;
  margin: 10% auto;
}

/* Contact page */

.contact-text {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.contact-text i {
  color: #da2f32;
  font-size: 3em;
  margin-top: 5px;
}

.success-message {
  text-align: center;
  font-size: 1.2em;
  text-decoration: underline;
  margin-bottom: 10px;
}

.contact-form .error-message {
  font-size: 0.9em;
  color: red;
  margin-top: 5px;
  display: none;
}

.contact-form p {
  font-weight: 400;
  font-size: 1.2em;
}

.contact-button {
  width: unset;
  margin: 10px auto;
}

/* FAVOURITES PAGE */

.favourites-container {
  margin-top: 10px;
}

/* MEDIA QUERIES */

@media (min-width: 600px) {
  .footer-copyright {
    max-width: 155px;
    margin-top: 31px;
  }
  .footer-content img {
    margin-left: -95px;
  }

  .footer-links h4 {
    font-size: 1.2em;
  }

  .footer-links li {
    font-size: 0.9em;
  }

  .div-container {
    max-width: 400px;
  }

  .button-effect:before {
    top: 255px;
    left: 100px;
  }

  .headings h1 {
    font-size: 1.83em;
  }
  .headings h2 {
    font-size: 1.44em;
  }
  .slider-heading {
    max-width: 400px;
  }
  .slides-container {
    max-width: 400px;
    height: 300px;
  }

  .featured-text__home {
    top: 150px;
  }

  .page {
    max-width: 400px;
  }

  .page p {
    font-size: 1.1em;
  }
  .page-content img {
    margin-top: 30px;
  }
  .modal-content {
    max-width: 550px;
  }
  .author-info {
    display: flex;
  }
  form div input {
    width: 97%;
  }
  .comment-form {
    margin: 10px 100px;
  }
  .comment-section {
    margin: 0 100px 100px 100px;
  }
  form div textarea {
    width: 97%;
  }
  form div label {
    font-size: 1.1em;
  }

  .contact-text i {
    font-size: 4em;
    margin-top: 0;
  }
  .contact-form p {
    font-size: 1.3em;
  }
}

@media (min-width: 800px) {
  .logo {
    max-width: 280px;
  }

  .icons i {
    top: 37px;
  }

  .footer-content img {
    margin-left: -15px;
  }

  .footer-copyright {
    font-size: 1em;
    max-width: 193px;
  }

  .footer-links {
    margin: 0;
  }

  .footer-links ul {
    display: flex;
    margin-top: 25px;
    font-size: 1.2em;
  }

  .div-container {
    max-width: 800px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 61px;
    margin-top: 30px;
  }

  .favourites-container {
    margin-top: 60px;
  }

  .featured {
    max-width: 420px;
    margin-top: -50px;
  }

  .headings h1 {
    font-size: 2.03em;
  }
  .headings h2 {
    font-size: 1.6em;
  }

  .slider-button {
    font-size: 1.6em;
  }

  .page {
    max-width: 500px;
  }
  .page p {
    font-size: 1.2em;
  }
  .modal-content {
    max-width: 650px;
  }

  .button {
    font-size: 1.1em;
  }

  .search {
    margin-bottom: 80px;
  }
  .search input {
    width: 290px;
  }
  .comment-form {
    margin: 10px 150px;
  }

  .comment-section {
    margin: 0 150px 100px 150px;
  }

  .headings h3 {
    font-size: 1.3em;
  }
  form div label {
    font-size: 1.2em;
  }
  .contact-form p {
    font-size: 1.4em;
  }
  .contact-text i {
    font-size: 5em;
  }
}

@media (min-width: 1000px) {
  nav {
    display: inline-block;
    background-color: white;
    position: absolute;
    top: 35px;
    right: 10%;
    font-size: 1.3em;
    width: 45vw;
  }
  ul {
    display: flex;
    border: none;
    gap: 20px;
    justify-content: space-evenly;
  }
  .button-effect:before {
    top: 195px;
    left: 15px;
  }

  .footer-content img {
    margin-left: 20px;
  }

  .headings h1 {
    font-size: 2.4em;
  }
  .div-container {
    max-width: 900px;
    gap: 50px;
  }

  .slide-post {
    max-width: 33.3%;
  }
  .slides-container {
    max-width: 900px;
    height: 250px;
  }
  .slider-heading {
    max-width: 900px;
  }
  .slider-dots {
    display: block;
  }
  .page {
    max-width: 600px;
  }

  .fa-bars {
    display: none;
  }

  .fa-heart {
    right: 28px;
  }
  .modal-content {
    max-width: 800px;
  }
  .comment-form {
    margin: 10px 250px;
  }
  .comment-section {
    margin: 0 250px 100px 250px;
  }
  .headings h3 {
    font-size: 1.5em;
  }
  form div label {
    font-size: 1.3em;
  }
}
